<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain.org/TizenCalculator" version="1.0.0" viewmodes="maximized">
    <tizen:application id="HkAMCPkWb9.TizenCalculator" package="HkAMCPkWb9" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.360.360"/>
    <icon src="icon.png"/>
    <name>Calculator</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="wearable"/>
    <tizen:setting hwkey-event="enable"/>
</widget>
